// size
$container: 1166px;
// color
$yellowColor: #FCB72B;
$darkColor: #495567;
$greyColor: #939CAA;
$lightColor: #E5ECF4;
$whiteColor: #ffffff;
// fonts
$lexendFont: 'Lexend Deca';
$spaceFont: 'Space Mono';