.btn {
    padding: 14px 40px;
    background-color: $yellowColor;
    font-weight: 700;
    font-size: 15px;
    color: $whiteColor;
    line-height: 1.6;
    font-family: $spaceFont;
    border: 3px solid $yellowColor;
    transition: .3s;
    &:hover {
        color: $yellowColor;
        background-color: transparent;
    }
}